In [4]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 3.7 MB/s eta 0:00:00a 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10
Note: you may need to restart the kernel to use updated packages.

In [27]:
import pandas as pd

In [28]:
ls

1_China_solar panel.png
2020-National-Solar-Jobs-Census-Chart-Data-Public.xlsx
ENERGÍA SOLAR FOTOVOLTAICA_Ayuntamiento de Madrid.xlsx
ENSPRESO_SOLAR_PV_CSP (1).xlsx
ENSPRESO_SOLAR_PV_CSP.xlsx
Energy from renewable UE.xlsx
Hydro provisional 2020 (1).xlsx
Hydro provisional 2020.xlsx
Indicadores_SE_CCAA_DIC2017_v2.xlsm
NP_Avance_Informe Sistema Electrico_2021_Nacional.pdf
Nacional/
Presentacion_Avance2021_17032022_18.30.pdf
Renewable_energy-tables_and_figures_2022-January_final.xlsx
SHARES 2020 detailed results (1).zip
SHARES 2020 detailed results.zip
Solar_Power_Europe_Global_Market_Outlook_report_2022_2022_V2_07aa98200a.pdf
Untitled.ipynb
energiaDisponible_aprov_consumo.tsv
nrg_ind_ured.sdmx.zip
online_setplan_template_report_2021_1.pdf
renewable energy in gross final energy consumption by sector.xlsx
renewable energy source in electricity.xls
renewable energy source.xls
seguimientoDemandaEnergia.csv
solar_pv_capacity_country.xlsx
table_of_contents.xml
~$2020-National-Solar-Jobs-Census-Chart-Data-Public.xlsx
~$ENSPRESO_SOLAR_PV_CSP.xlsx
~$Indicadores_SE_CCAA_DIC2017_v2.xlsm

In [29]:
renewable_source = pd.read_excel('Energy from renewable UE.xlsx')

In [30]:
renewable_source.head(60)

,TIME,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),14.547,16.002,16.660,17.417,17.821,17.980,18.412,19.096,19.885,22.09
2,Euro area - 19 countries (from 2015),13.114,14.604,15.228,16.032,16.439,16.651,17.222,17.719,18.499,20.951
3,Belgium,6.302,7.086,7.671,8.038,8.060,8.744,9.136,9.472,9.929,13
4,Bulgaria,14.152,15.837,18.898,18.050,18.261,18.760,18.695,20.581,21.546,23.319
5,Czechia,10.945,12.814,13.927,15.074,15.070,14.926,14.799,15.140,16.239,17.303
6,Denmark,23.389,25.465,27.173,29.310,30.469,31.715,34.387,35.160,37.020,31.681
7,Germany (until 1990 former territory of the FRG),12.470,13.549,13.760,14.385,14.906,14.889,15.476,16.660,17.266,19.312
8,Estonia,25.515,25.586,25.356,26.130,28.987,29.232,29.538,29.970,31.730,30.069
9,Ireland,6.605,7.029,7.521,8.516,9.083,9.189,10.520,10.942,11.979,16.16
10,Greece,11.153,13.741,15.326,15.683,15.690,15.391,17.300,18.001,19.633,21.749
11,Spain,13.176,14.239,15.081,15.880,16.221,17.015,17.118,17.023,17.852,21.22
12,France,10.813,13.239,13.880,14.362,14.803,15.451,15.847,16.384,17.174,19.109
13,Croatia,25.389,26.757,28.040,27.817,28.969,28.266,27.280,28.047,28.466,31.023
14,Italy,12.881,15.441,16.741,17.082,17.526,17.415,18.267,17.796,18.181,20.359
15,Cyprus,6.245,7.111,8.428,9.144,9.903,9.833,10.478,13.873,13.777,16.879
16,Latvia,33.478,35.709,37.037,38.629,37.538,37.138,39.008,40.019,40.929,42.132
17,Lithuania,19.943,21.437,22.689,23.592,25.748,25.613,26.038,24.695,25.475,26.773
18,Luxembourg,2.855,3.112,3.494,4.471,4.987,5.364,6.194,8.942,7.046,11.699
19,Hungary,13.972,15.530,16.205,14.618,14.495,14.377,13.556,12.549,12.634,13.85
20,Malta,1.850,2.862,3.760,4.744,5.119,6.208,7.219,7.914,8.230,10.714
21,Netherlands,4.524,4.659,4.691,5.415,5.714,5.846,6.507,7.394,8.886,13.999
22,Austria,31.552,32.734,32.665,33.550,33.498,33.370,33.137,33.784,33.755,36.545
23,Poland,10.337,10.955,11.452,11.605,11.881,11.396,11.059,14.936,15.377,16.102
24,Portugal,24.603,24.574,25.700,29.508,30.514,30.864,30.611,30.203,30.623,33.982
25,Romania,21.743,22.825,23.886,24.845,24.785,25.032,24.454,23.875,24.290,24.478
26,Slovenia,20.937,21.551,23.161,22.459,22.879,21.975,21.658,21.378,21.968,25
27,Slovakia,10.348,10.453,10.133,11.713,12.883,12.029,11.465,11.896,16.894,17.345
28,Finland,32.532,34.222,36.630,38.632,39.228,38.942,40.855,41.182,42.723,43.802
29,Sweden,47.632,49.403,50.153,51.151,52.220,52.597,53.390,53.916,55.785,60.124
30,Iceland,72.298,73.727,73.788,73.043,71.949,75.329,74.104,77.173,78.612,83.725
31,Norway,64.638,64.932,66.480,68.406,68.545,69.235,70.036,71.566,74.406,77.358
32,United Kingdom,4.392,4.461,5.524,6.737,8.385,9.032,9.858,11.138,12.336,not available
33,Montenegro,40.648,41.513,43.696,44.098,43.073,41.529,39.693,38.801,37.722,43.77
34,North Macedonia,16.407,18.128,18.509,19.559,19.526,18.044,19.636,18.179,17.485,19.222
35,Albania,31.187,35.152,33.167,31.856,34.913,36.953,35.777,36.572,38.042,45.015
36,Serbia,19.118,20.790,21.095,22.864,21.989,21.147,20.287,20.320,21.443,25.983
37,Bosnia and Herzegovina,17.995,18.014,19.307,24.873,26.607,25.358,23.241,35.972,37.578,not available
38,Kosovo (under United Nations Security Council ...,17.598,18.625,18.823,19.544,18.484,24.472,23.082,24.616,24.215,24.401
39,Moldova,22.081,24.328,24.420,26.169,26.173,26.888,27.836,27.476,23.844,25.057

In [14]:
ls

ENSPRESO_SOLAR_PV_CSP.xlsx
Energy from renewable UE.xlsx
Hydro provisional 2020.xlsx
SHARES 2020 detailed results.zip
Untitled.ipynb
nrg_ind_esc.tsv
nrg_ind_esc.tsv.gz
online_setplan_template_report_2021_1.pdf
renewable energy in gross final energy consumption by sector.xlsx
~$ENSPRESO_SOLAR_PV_CSP.xlsx

In [22]:
df = pd.read_csv('nrg_ind_esc.tsv', sep ='\t')

In [23]:
df

,"siec,nrg_bal,unit,geo\time",2019,2018,2017,2016,2015,2014,2013,2012,2011,...,1999,1998,1997,1996,1995,1994,1993,1992,1991,1990
0,"TOTAL,FC_E,GJ_HAB,AL",30.3,31.1,30.3,27.7,28.6,29.9,28.4,25.9,28.2,...,20.2,12.5,11.1,13.7,12.6,12.4,12.3,13.3,18.3,24.7
1,"TOTAL,FC_E,GJ_HAB,AT",123.1,122.7,125.5,124.2,122.1,119.9,126.4,124.4,124.6,...,113.8,112.8,109.7,112.5,103.6,99.1,101.7,100.2,103.6,97.0
2,"TOTAL,FC_E,GJ_HAB,BA",:,:,41.9,42.3,39.5,35.4,:,:,:,...,:,:,:,:,:,:,:,:,:,:
3,"TOTAL,FC_E,GJ_HAB,BE",118.1,120.9,120.7,122.9,122.3,117.3,126.8,123.5,122.3,...,135.2,136.4,133.8,136.9,128.9,125.6,123.5,125.3,124.8,118.9
4,"TOTAL,FC_E,GJ_HAB,BG",58.6,58.5,58.1,56.3,55.1,51.8,50.3,52.5,52.3,...,44.4,50.5,51.6,55.5,53.7,50.8,50.4,51.8,58.4,77.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2183,"TOTAL,NRGSUP,TOE_HAB,SK",3.1103,3.1165,3.1592,2.9960,2.9869,2.8988,3.0847,3.0506,3.1718,...,3.2680,3.2460,3.3504,3.3511,3.3017,3.2432,3.3150,3.3920,3.5990,4.0130
2184,"TOTAL,NRGSUP,TOE_HAB,TR",1.7462,1.7460,1.8029,1.6944,1.6232,1.5289,1.4632,1.5340,1.4852,...,1.0594,1.0674,1.0742,1.0404,0.9684,0.9009,0.9304,0.8927,0.8748,0.9010
2185,"TOTAL,NRGSUP,TOE_HAB,UA",2.1532,2.2349,2.1263,2.1672,2.1879,2.4782,:,2.7058,2.7882,...,2.7591,2.7471,2.8799,2.9844,3.2294,:,:,:,:,:
2186,"TOTAL,NRGSUP,TOE_HAB,UK",:,2.6037,2.6267,2.6850,2.7435,2.7126,2.9045,2.9767,2.9260,...,3.7632,3.7668,3.7408,3.8604,3.7112,3.7995,3.6964,3.6720,3.6897,3.5786
2187,"TOTAL,NRGSUP,TOE_HAB,XK",:,1.4433,1.4260,1.5072,1.4178,1.2387,1.2664,1.3030,1.4062,...,:,:,:,:,:,:,:,:,:,:

In [24]:
ls

ENSPRESO_SOLAR_PV_CSP.xlsx
Energy from renewable UE.xlsx
Hydro provisional 2020.xlsx
SHARES 2020 detailed results.zip
Untitled.ipynb
aei_pr_soiler.tsv
aei_pr_soiler.tsv.gz
energiaDisponible_aprov_consumo.tsv
online_setplan_template_report_2021_1.pdf
renewable energy in gross final energy consumption by sector.xlsx
~$ENSPRESO_SOLAR_PV_CSP.xlsx

In [26]:
df2 =  pd.read_csv('aei_pr_soiler.tsv', sep ='\t')
df2

                 levels,clc18,unit,geo\time     2016      2010      2000
0                       MOD,CLC23_321,HA,AT  390499.0  390075.0  351481.0
1                     MOD,CLC23_321,HA,AT11     599.0     600.0     621.0
2                    MOD,CLC23_321,HA,AT111     112.0     112.0     104.0
3                    MOD,CLC23_321,HA,AT112      65.0      66.0      88.0
4                    MOD,CLC23_321,HA,AT113     422.0     422.0     429.0
...                                     ...       ...       ...       ...
130795  TOTAL,CLC2_3X331_332_335,T_HA,UKN12       0.8       0.8       0.9
130796  TOTAL,CLC2_3X331_332_335,T_HA,UKN13       0.7       0.7       0.7
130797  TOTAL,CLC2_3X331_332_335,T_HA,UKN14       0.7       0.8       0.8
130798  TOTAL,CLC2_3X331_332_335,T_HA,UKN15       1.0       1.1       1.3
130799  TOTAL,CLC2_3X331_332_335,T_HA,UKN16       0.6       0.7       0.7

[130800 rows x 4 columns]